<div class="login-container">
  <form [formGroup]="user" class="account-form">
    <h3 class="title is-3"><strong>Log in</strong></h3>
    <div class="field mb-4">
      <input 
        formControlName="username"
        type="text"
        name="username"
        class="input"
        placeholder="Enter username"
        v-model="user.username"
        (keydown)="resetMessage()"
      />
    </div>
    <div class="field">
      <input
        formControlName="password"
        type="password"
        name="password"
        class="input"
        placeholder="Enter password"
        v-model="user.password"
        (keydown)="resetMessage()"
      />
    </div>
    <button
      class="button is-primary is-fullwidth mt-5 mb-5"
      (click)="handleLogin()"
    >
      Login
    </button>
    <a
      (click)="emitAnimationData()"
      class="hover-light"
      >Dont have an account with us? Register
    </a>
  </form>
</div>
