<div *ngIf="bug$ | async as bug" class="modal is-active">
  <div (click)="closeModal()" class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <app-bug-title [bug]="bug"></app-bug-title>
      <div class="container has-text-right">
        <button
          (click)="closeModal()"
          class="delete"
          aria-label="close"
        ></button>
      </div>
    </header>
    <section class="modal-card-body">
      <div class="columns">
        <span class="icon column is-1" [class]="setBugColour(bug)">
          <fa-icon [icon]="faBug" class="fa-2x mr-3"></fa-icon>
        </span>
        <h1 class="title is-5 column is-1">
          {{ bug.status }}
        </h1>
      </div>
      <hr />
      <div class="block">
        <app-tags [bug]="bug" [isEntry]="true"></app-tags>
      </div>
      <app-bug-desc [bug]="bug"></app-bug-desc>
      <br>
      <app-comment-entry [bugId]="bug._id"></app-comment-entry>
      <app-comment-list [bug]="bug"></app-comment-list>
      <div *ngIf="user$ | async as user" class="level">
        <div class="level-left">{{user.username | titlecase}}</div>
        <div class="level-right">{{bug.date | date}}</div>
      </div>
      <div class="level">
        <button (click)="handleArchiveClick()" class="button is-danger">Archive</button>
      </div>
    </section>
  </div>
</div>
