<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="">
      <img src="../assets/img/BugtraceLogo.gif" alt="" width="150" />
    </a>
    <a class="navbar-item" [routerLink]="['/workspace']">
      <fa-icon [icon]="faHome" class="fa-2x"></fa-icon>
    </a>
    <a class="navbar-item ml-4 workspace" [routerLink]="['/workspace']">
      <div>{{(workspace$ | async).name}}</div>
    </a>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-end" *ngIf="user$ | async as user">
    <div class="navbar-item mr-2">
      <div>Hi {{ user.username | titlecase }}!</div>
    </div>

    <div class="navbar-item mr-2">
      <div class="buttons">
        <a
          (click)="logoutHandler()"
          class="button is-small is-danger is-outlined"
        >
          <fa-icon [icon]="faSignOutAlt" class="mr-1"></fa-icon>Logout
        </a>
      </div>
    </div>
  </div>
</nav>
