.hover-light:hover {
  color: white;
}

.account-form {
  display: block;
  max-width: 27.2%;
  min-width: 22rem;
  margin: 0 auto;
  position: relative;
  background-color: #383838;
  border-radius: 15px;
  padding: 30px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 0 2px;
  text-align: center;
}



// .modal-header {
//   display: block;
// }

// #titleText {
//   max-width: 80%;
// }

// #description, #title, .card-title {
//   /* background-color: transparent; */
//   overflow-wrap: break-word; 
//   overflow: hidden; 
//   height:max-content;
//   white-space: pre-wrap;
// }

// #descriptionText, #titleText {
//   resize: none;
// }

// .list-group-item {
//   background-color: rgb(66, 66, 66);
//   border-radius: 1% !important;
// }

// .card-custom-colour {
//   background-color: rgb(66, 66, 66);
// }

// .card {
//   border: none;
//   border-radius: 1% !important;
// }

// #bugCardTemplate {
//   border-radius: 10%; 
// }






// #custom-alert {
//   max-width: 585px;
//   margin-right: auto;
//   margin-left: auto;
//   display: block;
//   position: relative;
//   margin-top: 15px;
// }

// #flashComponent {
//   position: absolute;
//   left: 50%;
//   transform: translateX(-50%);
//   top: 1.5rem; 
// }

// .bg-light, .navbar, .bg-light {
//   background-color: #383838;
//   color: azure; 
// }

// .navbar-brand {
//   color: azure !important; 
// }

// .row {
//   margin-left: auto;
//   margin-right: auto;
// }

// #commentTextArea {
//   resize: none;
//   min-height: 10px;
// }

// .commentTextAreaWithSaveButton {
//   padding-bottom: 48px;
// }

// #comment-controls {
//   position: relative;
//   bottom: 45px;
//   margin-left: 2%;
// }

// #commentsDisplay {
//   min-height: fit-content;
//   width: 100%;
//   resize: none;
//   background: rgb(69, 68, 71);
//   color: white;
//   border: 0 grey;
//   border-radius: 3px;
//   padding: 5px;
//   margin-right: 4%;
// }

// #commentsDisplay:focus {
//   max-height: fit-content;
//   width: 100%;
//   resize: none;
//   background: white;
//   color: black;
//   border-radius: 3px;
// }

// #comment-icons {
//   position: relative;

// }

// #commentDisplayDiv {
//   border-left: 5px solid transparent;
//   border-radius: 4.5px;
//   margin-top: 1rem;
//   background: rgb(84, 83, 87);
// }

// #commentDisplayDiv:hover {
//   background: rgb(84, 79, 84);
//   border-left: 5px solid grey;
//   border-radius: 4.5px;
// }

// .badge-pill {
//   padding: 0.25em 0.4em;
//   border-radius: 15%;
// }

// #comment-options {
//   font-size: 10px;
//   color: honeydew !important;
// }



