<article class="message">
  <div class="message-body">
    <div class="columns is-mobile">
      <div class="column is-1">
        <div class="tag is-primary mr-3"><strong>{{comment.user.username.charAt(0) | titlecase}}</strong></div>
      </div>
      <div class="column">
        {{comment.user.username | titlecase}}
      </div>
      <div class="level-right comment-date">
        commented 4 hours ago
      </div>
    </div>

    <div class="columns is-mobile">
      <div class="column is-1">
        <app-comment-upvote [comment]="comment" [bugId]="bugId"></app-comment-upvote>
      </div>
      <div class="column">
        <textarea (blur)="editComment()" *ngIf="isEditable" [(ngModel)]="comment.comment" class="textarea"></textarea>
        <div *ngIf="!isEditable" class="comment-body">
          {{comment.comment}}
        </div>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-1"></div>
      <a (click)="handleEdit()" class="has-text-primary ml-2">edit</a>
      <div class="mx-1"> - </div>
      <a (click)="handleDelete()" class="has-text-primary">delete</a>
    </div>
  </div>
</article>