<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{bug.name}}
    </p>
    <a class="card-header-icon">
      <span class="icon" [class]="setBugColour()">
        <fa-icon [icon]="faBug" class="fa-2x"></fa-icon>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      {{bug.description}}
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
  <footer class="card-footer">
      <i class="fas fa-comments mr-1"></i>
      {{bug.comments.length}}
  </footer>
</div>