.tag {
  height: 19px;
  padding: 10px;
}

.delete {
  width: 0px;
  height: 0px;
  min-width: 0px;
  min-height: 0px;
  transition: all 0.5s;
}

.tag:hover .delete {
  height: 19px;
  width: 19px;
}
