.cdk-drop-dragging .cdk-drag {
  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-animating {
  transition: transform 220ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-placeholder {
  background: rgba(0, 0, 0, .2);
}

.column {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.notification {
  padding: 6px;
  font-size: small;
  font-weight: bold;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 0px;
}

.container {
  border: solid;
  border-width: 2px;
  border-color: #303030;
  background-color: #303030;
  border-radius: 1%;
  height: max-content;
  min-height: 2rem;
  padding: 10px;
}

@keyframes blurAnim {
  from { filter: none };
  to { filter: blur(2.5px)};
}

@keyframes blurAnimRev {
  from { filter: blur(2.5px) };
  to { filter: none };
}

.modal-open-blur {
  animation: blurAnim 1000ms forwards cubic-bezier(0, 0, 0.2, 1);
}

.modal-close-blur {
  animation: blurAnimRev 800ms forwards cubic-bezier(0, 0, 0.2, 1);
}