<div [class]="{'modal-open-blur': modalOpen$ | async, 'modal-close-blur': (modalOpen$ | async) === false}">
    <div *ngIf="user$ | async as user">
      <app-navbar [username]="user.username"></app-navbar>
      <div id="main">
        <div cdkDropListGroup class="columns" id="containerGroup">
          <div class="column">
            <h3 class="notification is-danger">Created</h3>
            <div (cdkDropListDropped)="dropped($event)" cdkDropList id="Created" [cdkDropListData]="createdBugs" class="container">
              <div *ngIf="loading">
                Loading...
              </div>
              <div cdkDrag *ngFor="let bug of createdBugs" [attr.bugid]="bug._id">
                <div>
                  <app-bug-card [bug]="bug" ></app-bug-card>
                </div>
              </div>
            </div>
            <button class="button is-small is-fullwidth is-primary">
              <span class="icon is-small">
                <fa-icon [icon]="faPlus"></fa-icon>
              </span>
              <span><strong>Add New Card</strong></span>
            </button>
          </div>

          <div class="column">
            <h3 class="notification is-warning">In-Progress</h3>
            <div (cdkDropListDropped)="dropped($event)" cdkDropList id="In-Progress" [cdkDropListData]="inProgressBugs" class="container">
              <div *ngIf="loading">
                Loading...
              </div>
              <div cdkDrag *ngFor="let bug of inProgressBugs" [attr.bugid]="bug._id">
                <app-bug-card [bug]="bug"></app-bug-card>
              </div>
            </div>
            <button class="button is-small is-fullwidth is-primary">
              <span class="icon is-small">
                <fa-icon [icon]="faPlus"></fa-icon>
              </span>
              <span><strong>Add New Card</strong></span>
            </button>
          </div>

          <div class="column">
            <h3 class="notification is-success">Fixed</h3>
            <div (cdkDropListDropped)="dropped($event)" cdkDropList id="Fixed" [cdkDropListData]="fixedBugs" class="container">
              <div *ngIf="loading">
                  Loading...
              </div>
              <div cdkDrag *ngFor="let bug of fixedBugs" [attr.bugid]="bug._id">
                <app-bug-card [bug]="bug" ></app-bug-card>
              </div>
            </div>
            <button class="button is-small is-fullwidth is-primary">
              <span class="icon is-small">
                <fa-icon [icon]="faPlus"></fa-icon>
              </span>
              <span><strong>Add New Card</strong></span>
            </button>
          </div>
        </div>
      </div>
      <p>User ID: {{ user.id }}</p>
      <p>Username: {{ user.username }}</p>
    </div> 
  </div>

  <router-outlet></router-outlet>
