<div [class]="{'modal-open-blur': modalOpen$ | async, 'modal-close-blur': (modalOpen$ | async) === false}">
    <div *ngIf="user$ | async as user">
      <app-navbar [username]="user.username"></app-navbar>
      <div id="main">
        <div cdkDropListGroup class="columns" id="containerGroup">
          <div class="column">
            <h3 class="notification is-danger">{{statusEnum.Created}}</h3>
            <div (cdkDropListDropped)="dropped($event)" cdkDropList id="Created" [cdkDropListData]="createdBugs" class="container">
              <div *ngIf="loading">
                Loading...
              </div>
              <div cdkDrag *ngFor="let bug of createdBugs" [attr.bugid]="bug._id">
                <div>
                  <app-bug-card [bug]="bug" ></app-bug-card>
                </div>
              </div>
            </div>
            <app-bug-entry [status]="statusEnum.Created"></app-bug-entry>
          </div>

          <div class="column">
            <h3 class="notification is-warning">{{statusEnum.InProgress}}</h3>
            <div (cdkDropListDropped)="dropped($event)" cdkDropList id="In-Progress" [cdkDropListData]="inProgressBugs" class="container">
              <div *ngIf="loading">
                Loading...
              </div>
              <div cdkDrag *ngFor="let bug of inProgressBugs" [attr.bugid]="bug._id">
                <app-bug-card [bug]="bug"></app-bug-card>
              </div>
            </div>
            <app-bug-entry [status]="statusEnum.InProgress"></app-bug-entry>
          </div>

          <div class="column">
            <h3 class="notification is-success">{{statusEnum.Fixed}}</h3>
            <div (cdkDropListDropped)="dropped($event)" cdkDropList id="Fixed" [cdkDropListData]="fixedBugs" class="container">
              <div *ngIf="loading">
                  Loading...
              </div>
              <div cdkDrag *ngFor="let bug of fixedBugs" [attr.bugid]="bug._id">
                <app-bug-card [bug]="bug" ></app-bug-card>
              </div>
            </div>
            <app-bug-entry [status]="statusEnum.Fixed"></app-bug-entry>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <router-outlet></router-outlet>
